.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fcfaf8;
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
  overflow-x: hidden;
}

.layoutContainer {
  /* width: 95%; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  border-bottom: 1px solid #f4efe7;
  padding: 0.75rem 2.5rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #1c170d;
}

.logoIcon {
  width: 1rem;
  height: 1rem;
}

.logoText {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.015em;
  color: #1c170d;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.navLink {
  font-size: 0.975rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #1c170d;
  text-decoration: none;
}

.headerRight {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.searchLabel {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  max-width: 16rem;
  height: 2.5rem;
}

.searchInputWrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  background-color: #f4efe7;
  border-radius: 0.75rem;
  padding-left: 1rem;
}

.searchIcon {
  color: #9c7f49;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding-right: 0.5rem;
}

.searchInput {
  flex-grow: 1;
  border: none;
  background-color: #f4efe7;
  color: #1c170d;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 0.75rem;
  outline: none;
}

.headerButtons {
  display: flex;
  gap: 0.5rem;
}

.iconButton {
  display: flex;
  max-width: 30rem;
  padding: 0.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: 2.5rem;
  background-color: #f4efe7;
  color: #1c170d;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  border: none;
}

.profileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent {
  width: 85%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.heroSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
  /* padding: 1rem; */
  align-items: center;
  justify-content: center;
  min-height: 30rem;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuDxSl8EiMYYw0FaYjSn7CiDEpF7VThrCebg4Hl0aZCdhG11IGHpf7mU9f1q37eVbIZ5wRIDOoOzohg3_KPgmGNX23n9e4aBKZoEIiKKqCJ_kPLSfklWcFPGpGFsLWEJ5d9Gqhx2rWBY7EeckSsOpPUVF2mJb503_Psc8xQ4d6GvQfQD_pCXokr622ByTwBITS5zDZ9Fj0Ml_E6cKWesx_u-q7paqAmhO_HKoeDwQyyF77D0T-pLaAnfVF8cDu4tL1s-s0Y11mdtfqU");
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: white;
}

.heroTitle {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: -0.033em;
}

.heroSubtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.browseButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.browseButton {
  width: 8rem;

  max-width: 30rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #f2a20c;
  color: #1c170d;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.015em;
  border: none;
}

.sectionTitle {
  color: #1c170d;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.015em;
  padding: 0 1rem 0.75rem 1rem;
  padding-top: 1.25rem;
}

.featuredPets {
  display: flex;
  overflow-y: auto;
  padding: 1rem;
  gap: 0.75rem;
  scrollbar-width: none; /* Firefox */
}

.featuredPets::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.petCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.75rem;
  min-width: 10rem;
  flex: 1 1 0;
}

.petImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
}

.petName {
  color: #1c170d;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.petBreed {
  color: #9c7f49;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.popularItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 0.75rem;
  padding: 1rem;
}

.popularItemCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 0.75rem;
}

.popularItemImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem;
}

.popularItemName {
  color: #1c170d;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.popularItemDescription {
  color: #9c7f49;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.quickLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 0.75rem;
  padding: 1rem;
}

.quickLinkItem {
  display: flex;
  flex: 1 1 0;
  gap: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #e8dfce;
  background-color: #fcfaf8;
  padding: 1rem;
  align-items: center;
}

.iconPaw,
.iconStethoscope,
.iconHouse,
.iconHeart {
  color: #1c170d;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.quickLinkText {
  color: #1c170d;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.joinSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  max-width: 45rem;
  margin: 0 auto;
}

.joinContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: #1c170d;
}

.joinTitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -0.033em;
  max-width: 45rem;
  margin: 0 auto;
}

.joinDescription {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 45rem;
  margin: 0 auto;
}

.joinButtonWrapper {
  display: flex;
  justify-content: center;
}

.joinButton {
  min-width: 5.25rem;
  max-width: 30rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #f2a20c;
  color: #1c170d;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.015em;
  border: none;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
}

.footerContainer {
  display: flex;
  max-width: 60rem;
  flex-grow: 1;
  flex-direction: column;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 1.25rem;
  text-align: center;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.footerLink {
  color: #9c7f49;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-width: 10rem;
  text-decoration: none;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.socialLink {
  color: #9c7f49;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footerCopyright {
  color: #9c7f49;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
